/*
* @Name         : Button
* @Version      : 0.1
* @Data         : 2019-01-18
*/

/* Common */
.hidden { 
    position:absolute; 
    border:0; 
    clip:rect(0 0 0 0); 
    width:1px; 
    height:1px; 
    margin:-1px; 
    padding:0; 
    overflow:hidden; 
}
.btn-wrap .btn { 
    display:block; 
    width:54px; 
    height:54px; 
    margin:0 auto 10px; 
    box-shadow:2px 2px 10px rgba(0,0,0,0.3);
}

/* Button */
button { 
    border:0; 
    cursor:pointer; 
}

/* Button - ScrollTop */
.btn-wrap.float .list { 
    position:fixed; 
    bottom:50px; 
    right:calc( 50% - 615px ); 
    z-index:3;
}
.btn.scroll-top { 
    bottom:22.5%; 
    width:40px; 
    height:36px; 
    margin-right:10px; 
    background-image:url('../assets/images/icon_scroll_top.png'); 
    opacity:0; 
    transition:all .5s linear; 
}
.btn.scroll-top.active { 
    opacity:1; 
}
.btn.circle { 
    width:54px; 
    height:54px; 
    border-radius:54px; 
    background:#fff url('../assets/images/icon_sns.png') no-repeat 2px 1px / contain; 
}

/* 1250px이하 */
@media screen and (max-width:1024px){

}

/* 1024px이하 */
@media screen and (max-width:1024px){

}

/* 768px이하 */
@media screen and (max-width:768px){

}

/* 420px이하 */
@media screen and (max-width:420px){

}

/* 320px이하 */
@media screen and (max-width:320px){

}