/* style 전역 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.main.wrap {
  background: tan;
}


.intro-picture {
  height: 40vh;
  background: #fff url("http://magazine.hankyung.com/magazinedata/images/photo/201111/700b6016b692b29492fb4947f96d23b1.jpg") no-repeat center;
  width: 100%;
}

.search-option {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

select {
  width: 200px;
  height: 30px;
}

.search-button button {
  height: 30px;
  background: black;
  color: white
}

.card {
  height: 150px;
  padding: 30px;
  background: #ffff;
}

.col {
  padding: 20px;
  
}
.content-img {
  overflow: hidden;
  height: 100px;
  text-align: center;
}

.content-img  img {
  width: 50%;
}

.content-txt {
  color: red;
}

